.card {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 2px 3px #00000036;
  border-radius: 5px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 100%;
}

.hide_image {
  opacity: 0.2;
  animation-name: hide_image_animation;
  animation-duration: 1.6s;
}

.show_image {
  animation-name: show_image_animation;
  animation-duration: 1.6s;
}

@keyframes show_image_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide_image_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
