* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
}

.header, .cards-container {
  display: flex;
}

.header {
  background-color: #fff;
}

.cards-container {
  flex: 1;
}
